@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

*, *:before, *:active{

  box-sizing: inherit;
}

.top-home-main{

  width: 100%;
  height: 420px;
  background: url(../img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.main-logo{

  height: 65px;
  width: 150px;
  position: absolute;
  top:4vh;
  left:5%;

}

.main-nav{

  display: :none;
}

.dropdown-container{

  position: relative;
  z-index: 1000;

}

.hamburger{


  width: 50px;
  height: 50px;
  position: absolute;
  top: 3vh;
  right: 1%;

}

.hamburger img{

  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #687175;
    min-width: 95vw;

    height: 300px;
    right:0;
    top: 8vh;


}

.dropdown-content a {
    padding: 17px 16px;
    text-decoration: none;
    display: block;
    color: white;
    font-family: Lato, sans-serif;
}

.hamburger:hover .dropdown-content {
    display: block;
}




.header-text{
  width: 100%;
  position: absolute;
  top: 10vh;
}

.header-text h2{

  color: white;
  font-family: Lato, sans-serif;
  text-align: center;
  padding-bottom: 10px;

}


#digital{

  font-size: 23px;
  padding-bottom: 10px;
}

#huge-h2{

  font-size: 80px;
}

.accent-bars{

  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;

}

.d-bar{
  background: #fff;
  height: 10px;
  width: 20%;
}

.header-text h3{

  color: white;
  font-family: Open Sans, sans-serif;
  text-align: center;
  width: 50%;

}

.orange{

  color: #f37b39;
}

.green{

  color: #b5cc35;
}

.header-button-area{

  width: 100%;
  position: absolute;
  bottom:30px;

  display: flex;
  justify-content:center;

}

.clear-button{

  width: 80%;
  height: 50px;
  border-radius: 50px;
  border-color: #b5cc35;
  border-width: 2px;
  border-style: solid;
  background: none;
  color: #b5cc35;
  font-size: 20px;
  font-weight: 200;

}

.clear-button:hover{

  background: #b5cc35;
  color: #fff;

}

.how{

  /*height: 80vh;*/
  width: 100%;
  background: #f0f0f0;
}

.summary-container{

  display: flex;
  justify-content:center;
  padding-bottom: 25px;
  line-height: 1.7;
}

.how p{

  font-family: Open Sans;
  font-weight: 200;
  font-size: 25px;
  color: #3d6269;
  text-align: center;
  width: 90%;
  padding-top: 30px;
}

.tool-container{
  width: 100%;

  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  /*align-items: center;*/


}
.quote-container{
  width: 100%;

}

.tool-container img{

  text-align: center;
}

.how h2{

  color: #3d6269;
  font-family: Open Sans;
  font-weight: 300;
  font-size: 40px;
  text-align: center;
  width: 60%;
  margin: auto;
  padding-bottom: 40px;
}

#bold{

  font-weight: 700;
}

#semi-bold{

  font-weight: 500;
}

.pitch{

  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;


  margin-bottom: 15px;
  /*height: 50vh;*/


}

.pitch-area{

  height: 70vh;
  width: calc(100%/1.2);
  /*display: inline-block;*/
  /*background: #555;*/

  display: flex;
  justify-content:space-between;;
  align-items:center;
  flex-direction: column;
  ;




}

.pitch-image{

  width: 140px;
  margin: auto;

}

.pitch-image img{

  padding-top: 40px;
  width: 100%;
  padding-bottom: 40px;
}

.pitch-quote{

  display: flex;
  justify-content: center;

}

.pitch-quote h3{

  color: #b5c1c6;
  font-family: Lato,sans-serif;
  font-size: 20px;
  width: 90%;
  padding-bottom: 40px;
  text-align: center;
}

.pitch-link {
  width: 20%;
  margin: auto;
  text-align: center;

}

.pitch-link a{
  color: #b5cc35;
  text-decoration: none;
  font-family: Lato, sans-serif;
  font-size: 13px;


}

.pitch-arrow{

  padding-top: 10px;
  text-align: center;

  width: 100%;
}

.help{

  background: #f0f0f0;
}

.help-summary{

  color: #40666d;
  width: 100%;

  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;

}

.help-summary h2{

  font-family: Lato;
  font-size: 40px;
  font-weight: 300;
  width: 70%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;

}

.help-summary h3{

  font-family: Lato;
  font-size: 24px;
  font-weight: 500;
  width: 90%;
  text-align: center;
  padding-bottom: 60px;
}

.help-table{

  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 60px;

}

.help-type {
  background-color: #fff;
  margin-bottom: 15px;
  width: 90%;
  padding: 25px;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;

}

/*this area is for testing*/

/*.help-table{

  width: 100%;
  display: flex;
  justify-content:space-around;;
  align-items: center;
  flex-direction:row;;
  margin-bottom: 60px;

}

.help-type {
  background-color: #fff;
  margin-bottom: 15px;
  width: 300px;
  padding: 25px;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;

}
*/
/*this area is for testing*/

.help-type h4{

  color: #40666d;
  font-size: 25px;
  text-align: center;
  width: 90%;
  font-family:Open Sans;
  margin: 10px;
}

.help-type h5{

  color: #909085;
  text-align: center;
  width: 80%;
  font-family:Open Sans;
  line-height: 1.4;

}

.help-button-area{

  width: 100%;
  display: flex;
  justify-content:center;
  padding-bottom: 50px;

}

.partner-companies{

  background: #bad455;
  width: 100%;

  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;

}

.partner-companies h2{

  color: white;
  font-size: 36px;
  font-family: Open Sans;
  font-weight: 300;
  text-align: center;
  width: 80%;
  padding-top: 30px;
  padding-bottom: 30px;

}

.contact-us{

  background: #6a787c;
  font-family: Roboto;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.contact-info{
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  padding-top: 120px;
  padding-bottom:120px;
}

.contact-us h2{

  width: 100%;
  font-size: 30px;
  padding-bottom: 15px;
}

.green-bar{

  width: 23%;
  height: 10px;
  background: #bdd537;
  margin-bottom: 15px;
}

.contact-us p{

  line-height: 1.5;
  font-size: 16px;
  padding-bottom: 40px;
}

.green-button{

  width: 150px;
  height: 50px;
  border-radius: 50px;
  background: #b5cc35;
  font-size: 14px;
  color: #6a787c;
  font-family: Lato;

}


.main-footer{

  background: #f0f0f0;
  color: #6a787c;
  font-family: Roboto;
  font-size: 13px;
  text-align: center;
  padding-bottom: 25px;
}


@media (min-width: 990px) {

    .top-home-main{


          /*background-position-y: -300px;*/
    }

    .dropdown-container{
      display: none;
    }

    .main-nav-container{

      position: absolute;
      top:30px;
      right: 5%;
    }

    .main-nav-container a{

      text-decoration: none;
      color: #fff;
      font-family: Lato;
      padding: 10px;

    }

    .main-nav-container a:hover{

      color: #b5cc35;
    }



    .hamburger{
      display: none;
    }

    #huge-h2{

      font-size: 150px;
    }

    #digital{

      position: absolute;
      left:3%;
    }

    .header-text h3{

      font-size: 20px;
    }

    .clear-button{

      width: 200px;
    }

    .how p{

      width: 65%;

    }

    .pitch {
      /*-webkit-flex-direction: row;*/
      flex-direction: row;

    }

}
