@import url(https://font.googleapis.com/css?family=Lato:400,700,900italic);

html, body{

  box-sizing: border-box;
}

*, *:before, *:active{

  box-sizing: inherit;
}

body {

  margin: 0;
  padding: 0;
}
